.mat-form-control {
    width: 100%;
}

.skills-control {
    padding-bottom: 0px;

    ::ng-deep.mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }

    ::ng-deep.mat-form-field-infix {
        padding-top: 1.5em;
        border-top: 0px;
    }
}

.mat-form-field-infix {
    border-top: 0px;
}

// :host ::ng-deep .mat-form-field-wrapper {
//     margin: 0 !important;
//     padding: 0;
// }